.header1 {  font-family: Tahoma; font-size: 16px; font-style: normal; font-weight: bolder}
.header2 {  font-family: Tahoma; font-size: 12px; font-style: normal; font-weight: bold}
.main {  font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal; font-weight: normal}
.table {  font-family: "Gill Sans MT"; font-size: 10px; font-style: normal; font-weight: bold}
.pcaption {
	font: normal 13px "Arial Narrow";
}
.teaxtnav {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
}

/*
     FILE ARCHIVED ON 18:38:27 Jan 17, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:58:10 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.723
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.01
  esindex: 0.013
  cdx.remote: 22.299
  LoadShardBlock: 81.609 (3)
  PetaboxLoader3.datanode: 92.536 (4)
  load_resource: 136.323
  PetaboxLoader3.resolve: 94.019
*/