.header1 {  font-family: "Comic Sans MS", Verdana; font-size: 14px; font-style: normal; font-weight: bold}
.header2 {  font-family: "Comic Sans MS", Verdana; font-size: 12px; font-style: normal; font-weight: bold}
.main {  font-family: "Comic Sans MS", Verdana; font-size: 12px; font-style: normal; font-weight: normal}
.testlink {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 9px; font-style: normal; font-weight: normal}
.textnav {  font-family: "Comic Sans MS", Verdana; font-size: 10px; font-style: normal; font-weight: normal}
.birthday {  font-family: "Rebecca Lindstrom"; font-size: 14px; font-style: normal; font-weight: bold}
.photowhite {
	font-family: "Comic Sans MS", Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #FFFFFF;
}
.photolink {
	font-family: "Comic Sans MS", Verdana, sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #FFFFFF;
}

/*
     FILE ARCHIVED ON 17:05:10 Jun 11, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 15:48:54 Dec 16, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.041
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.013
  esindex: 0.03
  cdx.remote: 21.904
  LoadShardBlock: 71.769 (3)
  PetaboxLoader3.datanode: 147.774 (4)
  load_resource: 247.155
  PetaboxLoader3.resolve: 107.289
*/